@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo.eot');
    src: local('UTMAvo'), url('../fonts/UTMAvo.woff') format('woff'), url('../fonts/UTMAvo.ttf') format('truetype');
}

body{
    font-family: 'UTMAvo' !important;
}

.cuadro{
    width: 50%;
    height: 50%;
    background-color: #5AAD57;
}

.cabeza{
    background-color: red;
}

h4{
    color: #a7a9ac;
}

.cuadro{
    background-color: #105A8F; 
    color:white;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    width: 75%;
}

.cuadro1{
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    padding: 2%;
    text-align: justify;
    background-color: #286A9B;
    color: white;
    
}